.responsive-row-container {
  width: 1280px;
  margin: 0 auto; }
  .responsive-row-container .responsive-row {
    margin-bottom: 10px; }
    .responsive-row-container .responsive-row.r2up {
      height: 630px; }
      .responsive-row-container .responsive-row.r2up .row-item {
        height: 630px;
        width: 630px; }
    .responsive-row-container .responsive-row.r3up {
      height: 415px; }
      .responsive-row-container .responsive-row.r3up .row-item {
        height: 415px;
        width: 415px; }
    .responsive-row-container .responsive-row.r4up {
      height: 310px; }
      .responsive-row-container .responsive-row.r4up .row-item {
        height: 310px;
        width: 310px; }
    .responsive-row-container .responsive-row .row-item {
      position: relative;
      overflow: hidden;
      display: inline-block;
      float: left; }
      .responsive-row-container .responsive-row .row-item:nth-child(1) img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .responsive-row-container .responsive-row .row-item:nth-child(2) img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .responsive-row-container .responsive-row .row-item:nth-child(3) {
        height: 45%; }
        .responsive-row-container .responsive-row .row-item:nth-child(3) img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 50%;
          width: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .responsive-row-container .responsive-row .row-item:nth-child(4) {
        height: 45%; }
        .responsive-row-container .responsive-row .row-item:nth-child(4) img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 50%;
          width: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .responsive-row-container .responsive-row .row-item span {
        position: relative;
        z-index: 1000;
        top: 415px; }

* {
  text-align: center; }

body {
  margin: 0 auto;
  background-color: #fff;
  font-family: fantasy; }

.h-small {
  height: 310px; }
  .h-small .row-item {
    height: 310px;
    width: 310px; }

.h-medium {
  height: 415px; }
  .h-medium .row-item {
    height: 415px;
    width: 415px; }

.h-large {
  height: 630px; }
  .h-large .row-item {
    height: 630px;
    width: 630px; }

.h-xlarge {
  height: 630px; }
  .h-xlarge .row-item {
    height: 1280px;
    width: 1280px; }

/*# sourceMappingURL=compiled.css.map */
