// VARS
$small: 310px;
$medium: 415px;
$large: 630px;
$xlarge: 1280px;

$tablet: "(min-width: #{large}) and (max-width: #{xlarge})";
$desktop: "(min-width: #{$xlarge})";

// MIXINS

@mixin square-crop {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@mixin wide-crop {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

// IMPORTS
// @import 'mason';
@import 'responsive';

// GLOBALS
* {
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: #fff;
  font-family: fantasy;
}

.h-small {
  height: $small;
  .row-item {
    height: $small;
    width: $small;
  }
}

.h-medium {
  height: $medium;
  .row-item {
    height: $medium;
    width: $medium;
  }
}

.h-large {
  height: $large;
  .row-item {
    height: $large;
    width: $large;
  }
}

.h-xlarge {
  height: $large;
  .row-item {
    height: $xlarge;
    width: $xlarge;
  }
}
